{% extends 'BaseFarmTemplate.html' %}
{% load static %}
{% block content %}
    <div class="container text-center m-auto">
        <form id="baseForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <br>
            {% block form %}
            {% endblock %}
            <br>
            <div class="row m-1">
                <div class="col-12 col-md-10 text-end">
                    <button onclick="history.back()" class="btn btn-light">Cancel</button>
                    <input type="submit" class="btn btn-dark" value="Submit">
                </div>
            </div>
        </form>
    </div>
    <div style="height:110px;">
    </div>
{% endblock %}