{% load static %}


<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
    <div class="container text-center text-md-start">
        <div class="row">
            <div class="col-6 text-center mt-3">
                <h6 class="text-uppercase fw-bold mb-2">
                    <a class="btn btn-danger text-decoration-none" href="https://www.facebook.com/TabishAliMughal/"><span><i class="fa-brands fa-facebook me-2"></i></span>Facebook</a>
                </h6>
            </div>
            <div class="col-6 text-center mt-3">
                <h6 class="text-uppercase fw-bold mb-2">
                    <a class="btn btn-danger text-decoration-none" href="https://wa.me/923112918396"><span><i class="fa-brands fa-whatsapp me-2"></i></span>Whatsapp</a>
                </h6>
            </div>
        </div>
    </div>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        Designed And Developed By <span class="text-danger">Tabish Ali Mughal</span>
    </div>
</footer>
<!-- Footer -->