<div class="offcanvas offcanvas-start bg-dark" id="sidebarExample" aria-labelledby="sidebarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarLabel"></h5>
        <button type="button" class="btn-close text-reset bg-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav nav-pills flex-column mb-auto collapse show">
            <li class="nav-item">
                <a href="/" class="nav-link text-light">
                <span class="d-inline-block" style="width:40px"><i class="fa fa-home text-danger"></i></span>
                    Home
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-light">
                <span class="d-inline-block" style="width:40px"><i class="fa fa-cutlery text-danger"></i></span>
                    Food
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-light">
                <span class="d-inline-block" style="width:40px"><i class="fa fa-comments text-danger"></i></span>
                    Feedback
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-light">
                <span class="d-inline-block" style="width:40px"><i class="fa fa-user-plus text-danger"></i></span>
                    Registration
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-light">
                <span class="d-inline-block" style="width:40px"><i class="fa fa-user-clock text-danger"></i></span>
                    Reservation
                </a>
            </li>
        </ul>
    </div>
</div>