{% load static %}
<div class="navbar navbar-expand-md bg-dark align-items-center border-0 px-5 py-1">
    <div class="navbar-brand wmin-200">
        <a class="d-inline-block bg-light rounded">
            <img style="height:50px;" src="{% static '/images/Logo.png' %}" alt="">
        </a>
    </div>
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#topNav" aria-controls="topNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars text-dark"></i>
    </button>

    <div class="collapse navbar-collapse" id="topNav">
        <ul class="navbar-nav me-auto d-inline-flex">
            <li class="nav-item">
                <a href="/" class="text-light text-decoration-none fs-4">
                    <span>Home</span>
                </a>
            </li>
        </ul>
        {% if request.user.is_authenticated %}
        {% else %}
            <div class="d-inline-flex float-end">
                <li class="nav-item">
                    <a href="{% url 'Auth:login' %}" class="text-light bg-dark text-decoration-none fs-4" data-toggle="dropdown">
                        <span><i class="fa fa-lock me-2" ></i>Login</span>
                    </a>
                </li>
            </div>
        {% endif %}
    </div>
</div>