{% extends 'Includes/BaseForm.html' %}
{% load static %}
{% block page_header %} Creating Group For {{ type }}s {% endblock %}
{% block form %}
    <div class="row m-1 align-items-center">
        <div class="col-12 col-md-5 text-end">
            Name : 
        </div>
        <div class="col-12 col-md-4 text-start">
            <input type="text" name="group" class="form-control">
        </div>
    </div>
    {% for i in animals %}
        <div class="row m-1 align-items-center">
            <div class="col-12 col-md-6 text-end">
                {{ i }} : 
            </div>
            <div class="col-12 col-md-6 text-start">
                <input type="checkbox" value="{{ i.pk }}" name="animals" class="form-check">
            </div>
        </div>
    {% endfor %}
{% endblock %}