{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Lato:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'bootstrap-5/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet" type="text/css">
</head>
<body class="">
    {% include 'Includes/TopNav.html' %}
    {% block content %}
    {% endblock %}
    {% include 'Includes/Footer.html' %}
</body>
	<script src="{% static 'bootstrap-5/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'fontawesome/js/all.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</html>